<app-parallax-list>
    <app-parallax-group backgroundClass="hero" identifier="hero">
        <div class="hero-container">
            <h1>amara &amp; joshua</h1>
            <hr/>
            <h2>september 2nd, 2017</h2>
        </div>
    </app-parallax-group>

    <app-parallax-group identifier="our-story">
        <app-our-story></app-our-story>
    </app-parallax-group>

    <app-parallax-group backgroundClass="background1" identifier="countdown">
        <app-countdown></app-countdown>
    </app-parallax-group>

    <app-parallax-group identifier="event">
        <app-event></app-event>
    </app-parallax-group>

    <app-parallax-group backgroundClass="background2" identifier="blank"></app-parallax-group>

    <app-parallax-group identifier="schedule">
        <app-schedule></app-schedule>
    </app-parallax-group>

    <app-parallax-group backgroundClass="background3" identifier="champagne">
        <app-hero-text top="true">Get ready to pop the champagne!</app-hero-text>
    </app-parallax-group>

    <app-parallax-group identifier="lodging">
        <app-lodging></app-lodging>
    </app-parallax-group>

    <app-parallax-group backgroundClass="background4" identifier="blank2"></app-parallax-group>

    <app-parallax-group identifier="wedding-party">
        <app-wedding-party></app-wedding-party>
    </app-parallax-group>

    <a id="credits-link" routerLink="/credits">
        <p>credits</p>
    </a>
    <app-footer></app-footer>
</app-parallax-list>