<section
    id="{{ config.id }}"
    class="parallax"
    [style.background-image]="'url(' + config.backgroundUrl + ')'"
    [attr.data-background-speed-y]="config.backgroundSpeedY"
    [attr.data-background-speed-x]="config.backgroundSpeedX"
    [attr.data-parallax-align]="config.parallaxAlign"
    [attr.data-parallax-stick-y]="config.parallaxStickY"
    [attr.data-parallax-stick-x]="config.parallaxStickX"
    [attr.data-parallax-height]="config.parallaxHeight"
    [attr.data-parallax-offset-y-percent]="config.parallaxOffsetPercentY"
    [attr.data-parallax-offset-x-percent]="config.parallaxOffsetPercentX">

  <span class="navIcon navIconUp glyphicon glyphicon-chevron-up" *ngIf="navUpHref" attr.data-href="#{{ navUpHref }}"></span>

  <div class="container">
    <ng-content></ng-content>
  </div>

  <span class="navIcon navIconDown glyphicon glyphicon-chevron-down" *ngIf="navDownHref" attr.data-href="#{{ navDownHref }}"></span>
</section>