.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 700%;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
    font-weight: bolder;
}

.scroll-nav-container {
    position: absolute;
    bottom: 20px;
    right: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    
    .glyphicon {
        color: white;
        font-size: 70px;
    }
}