<parallax-list>
    <parallax-group backgroundClass="hero">
    </parallax-group>
    <parallax-group id="two">
        <div class="title">T W O</div>
    </parallax-group>
    <parallax-group backgroundClass="background1">
    </parallax-group>
    <parallax-group id="four">
        <div class="title">F O U R</div>
    </parallax-group>
    <parallax-group backgroundClass="background2">
    </parallax-group>
    <parallax-group id="six">
        <div class="title">S I X</div>
    </parallax-group>
</parallax-list>