<parallax-list>
	<parallax-group groupIdNum="1">
		<div class="parallax__layer parallax__layer--base">
			<div class="title">Base Layer</div>
		</div>
		<parallax-back image="./assets/bg1.jpg"></parallax-back>
	</parallax-group>
	<div id="group2" class="parallax__group">
		<div class="parallax__layer parallax__layer--base">
			<div class="title">Base Layer</div>
		</div>
	</div>
	<div id="group3" class="parallax__group">
		<div class="parallax__layer parallax__layer--base">
			<div class="title">Base Layer</div>
		</div>
		<parallax-back image="./assets/bg2.png"></parallax-back>
	</div>
	<div id="group4" class="parallax__group">
		<div class="parallax__layer parallax__layer--base">
			<div class="title">Base Layer</div>
		</div>
	</div>
	<div id="group5" class="parallax__group">
		<div class="parallax__layer parallax__layer--back">
			<div class="title">Base Layer</div>
		</div>
		<parallax-back image="./assets/bg3.jpg"></parallax-back>
	</div>
	<div id="group6" class="parallax__group">
		<div class="parallax__layer parallax__layer--base">
			<div class="title">Base Layer</div>
		</div>
	</div>
</parallax-list>

<!--http://keithclark.co.uk/articles/pure-css-parallax-websites/-->