/* You can add global styles to this file, and also import other style files */
body {
    transform: translateZ(0);
}

.hero {
    background-image: url(./assets/bkg1.jpg);
    
    @media (orientation: portrait) {
        background-image: url(./assets/bkg1-mobile.jpg);
    }
}

.background1 {
    background-image: url(./assets/bkg2.jpg);
}

.background2 {
    background-image: url(./assets/bkg2.jpg);
}
