/* You can add global styles to this file, and also import other style files */

/* Transform the body so it utilizes hardware accelleration */
body {
    transform: translateZ(0);
    margin: 0;
}

/* Background Images */
// .shaded {
//     box-shadow: inset 0 100vh  rgba(0, 0, 0, 0.2);
// }

.hero {
    background-image: url(./assets/bkg1.jpg);
    
    @media (orientation: portrait) {
        background-image: url(./assets/bkg1-mobile.jpg);
    }
}

.background1 {
    background-image: url(./assets/bkg2.jpg);
}

.background2 {
    background-image: url(./assets/bkg3.jpg);
}

.background3 {
    background-image: url(./assets/bkg4.jpg);
}

/* Font Setup */
.header-font {
    font-family: 'Nothing You Could Do', cursive !important;
}

h1 {
    .header-font;
    font-size: 6vh !important;;
}

h2 {
    .header-font;
    font-size: 4vh !important;;
}

h3 {
    .header-font;
    font-size: 2vh !important;;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 2vh !important;;
}