/* You can add global styles to this file, and also import other style files */

body {
    /* Transform the body so it utilizes hardware accelleration */
    transform: translateZ(0);
    margin: 0;
}

.hero {
    background-image: url(./assets/bkg1.jpg);

    @media (orientation: portrait) {
        background-image: url(./assets/bkg1-mobile.jpg);
    }
}

.background1 {
    background-image: url(./assets/bkg2.jpg);
}

.background2 {
    background-image: url(./assets/bkg3.jpg);
}

.background3 {
    background-image: url(./assets/bkg4.jpg);
}

/* Font Setup */
.header-font {
    font-family: 'Nothing You Could Do', cursive;
}

.content-font {
    font-family: 'Raleway', sans-serif;
}

h1 {
    .header-font;
    font-size: 400%;
    font-size: 4vmax;
}

h2 {
    .header-font;
    font-size: 300%;
    font-size: 3vmax;
}

h3 {
    .header-font;
    font-size: 200%;
    font-size: 2vmax;
}

p {
    .content-font;
    font-size: 250%;
    font-size: 2.5vmin;

    /* This is magic. See https://github.com/nathanford/min-max-font-size */
    min-font-size: 12px;
    max-font-size: 40px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

/* iOS Specific Overrides */
.app-container.iOS {
    .parallax__layer {
        top: -3vh;
    }

    .parallax__group {
        height: 92vh;
    }

    .scroll-btn-down {
        bottom: 4vh;
    }
}
